@charset "utf-8";

// Fonts
@import "./fonts/roboto.scss";
@import "./fonts/roboto_condensed.scss";
@import "./fonts/roboto_mono.scss";
@import "./fonts/roboto_slab.scss";

// base/generic.sass
$body-family: $family-roboto-regular; // $family-primary
$code-family: $family-roboto-mono-regular; // $family-code;

// elements/title.sass
$title-family: $family-roboto-slab-regular; // false
$subtitle-family: $family-roboto-light; // false

// elements/button.sass
$button-family: $family-roboto-medium; // false

// helpers/typography.sass
$family-sans-serif: $family-roboto-regular; // BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: $family-roboto-mono-regular; // monospace;
$family-primary: $family-roboto-slab-regular; // $family-sans-serif;
$family-secondary: $family-roboto-light; // $family-sans-serif;
$family-code: $family-roboto-mono-regular; // $family-monospace
